.container{
  height: 100 vh;
  width: 100 wh;
  display: grid;
  grid-template-rows: 200 px, 1 fr, 50 px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-areas:
    "header header header header sidebar"
    "content content content content sidebar"
    "footer footer footer footer sidebar"
}

header {
  background-color: #FFE621;
  color: black;
  text-align: center;
}
content {
  background-color: #FFE621;
  color: black;
  text-align: center;
}
footer {
  background-color: #FFE621;
  color: black;
  text-align: center;
}
