body {
  background-color: #F5EDDC;
  color: black;
}

header h1{
   background-color: black;
   color: #FFE621;
   text-align: center;
}

figure {
  display: block;
  img-align: center;
}
section {
  background-color: #00AB2E;
  color: black;
}
nav {
  background-color: #FFE621;
  color: black;
  text-align: center;
