header {
  background-color: #FFE621;
  color: black;
  text-align: center;
}
content {
  display: grid;
  grid-row: 3 / 1;
  background-color: #FFE621;
  color: black;
  text-align: center;
}
footer {
  background-color: #FFE621;
  color: black;
  text-align: center;
}
sidebar {
  text-align: center;
}
