body {
  background-color: #F5EDDC;
  color: black;
}

header h1{
    background-color: black;
    color: #FFE621;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0.2em;
}
section {
  background-color: #00AB2E;
  color: black;
}
nav {
  background-color: #FFE621;
  color: black;
  marign-left: auto;
  margin-right: auto;
  width: 20em;

