.container{
  height: 100vh;
  width: 100wh;
  display: grid;
  grid-template-rows: 200px 1fr 50px;
  grid template-columns: 22% 22% 22% 22% 12%;
  grid-template-areas:
    "header header header header sidebar"
    "content content content content sidebar"
    "footer footer footer footer sidebar"
}

header {
  background-color: #FFE621;
  color: black;
  text-align: center;
}
content {
  background-color: #FFE621;
  color: black;
  text-align: center;
}
footer {
  background-color: #FFE621;
  color: black;
  text-align: center;
}
