header {
  background-color: #FFE621;
  color: black;
  text-align: center;
}
content {
  background-color: #ffffff;
  color: black;
  text-align: center;
}
footer {
  background-color: #FFE621;
  color: black;
  text-align: center;
}
sidebar {
  background-color: #ffffff;
  color: black;
  text-align: center;
}
nav {
  background-color: #FFE621;
  color: black;
  text-align: center;
}
