body {
  background-color: #F5EDDC;
  color: black;
}

header h1{
    margin-left: auto;
    margin-right: auto;
    width: 13em 
}
section {
  background-color: #00AB2E;
  color: black;
}
nav {
  background-color: #FFE621;
  color: black;

