
body {
	
	margin: 10px auto;
	font-family: sans-serif;
	color: #333333;
	display: grid;
	grid-template-rows: 150px 150px 150px 150px 150px;
	min-height: 100vh;
	background-color: #A09F9D;
	gap: 10px 10px;
}

header {
	grid-row: 1 / span 1;
  background-color: #FFE621;
  color: black;
  margin :auto;
}
content {
	grid-row: 2 / span 2;
  background-color: #FFE621;
  color: black;
  margin :auto;
}
footer {
	grid-row: 3 / span 3;
  background-color: #FFE621;
  color: black;
  margin :auto;
}
sidebar {
	grid-row: 4 / span 4;
  background-color: #FFE621;
  color: black;
  margin :auto;
}
nav {
	grid-row: 5 / span 5;
  background-color: #FFE621;
  color: black;
  margin :auto;
}
